html,
body {
  margin: 0;
  padding: 0;
  min-width: 1440px;
}

html {
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.button {
  display: block;

  min-width: 160px;
  height: 50px;
  padding-top: 16px;

  font: inherit;
  line-height: 18px;
  font-weight: 500;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3); 
  background-color: #d7373b;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*-------------------HEADER-----------------------*/

.page-header {
  min-height:66px;
  padding-top: 49px;

  background-color: #eeeeee;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  line-height: 30px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;

  text-transform: uppercase;
}

.site-navigation,
.user-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  display: flex;
}

.site-navigation li:not(:last-child) {
  margin-right: 50px;
}

.site-navigation a,
.user-navigation a {
  display: block;

  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.site-navigation .current,
.user-navigation .current {
  border-bottom: 2px solid #fb565a;
}

.site-navigation .current:hover,
.user-navigation .current:hover {
  color: #000000;
}


/*--------------------SLIDER-------------------*/


.slider-container {
  width: 100%;
  margin-bottom: 80px;

  background-color: #eeeeee;
}


.slide-smartphone {
  display: none;
  height: 430px;

  background-image: url("../img/slide-smartphone.png");
  background-repeat: no-repeat;
}

.slide-monitor {
  display: none;
  height: 430px;

  background-image: url("../img/slide-monitor.png");
  background-repeat: no-repeat;
}

.slide-tablet {
  display: none;
  height: 430px;

  background-image: url("../img/slide-tablet.png");
  background-repeat: no-repeat;
}

.slide h3 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}


/*---------------------SERVICES--------------------*/ 

.services-container {
  margin: auto;
}

.services {
  padding-bottom: 80px;
}

.services-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.services-item {
  display: block;

  width: 300px;
  min-height: 346px;
}

.services-item:not(:nth-child(3n)) {
  margin-right: 100px;
}

.services-item h3 {
  margin: 0;
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  /*временно*/
  margin-top: 170px;
}

.services-item p {
  display: block;

  width: 260px;
  margin: 0;
  margin-bottom: 35px;
}

.application a {
  background-color: #00ca74;
}

.application a:hover,
.application a:focus {
  background-color: #00bc6c;
}

.application a:active {
  background-color: #00aa62;
}

.presentation a {
  background-color: #efc84a;
}

.presentation a:hover,
.presentation a:focus {
  background-color: #eab534;
}

.presentation a:active {
  background-color: #e5a722;
}

.services-item .button {
  width: 160px;
}



/*------------------------ABOUT US-----------------------*/

.about-us {
  display: flex;
  justify-content: space-between;

  min-height: 525px;
}

.about-us-left {
  width: 660px;
}

.about-us-right {
  width: 360px;
}

.about-us-slogan {
  display: block;

  width: 620px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-us-left b,
.about-us-right b {
  font-weight: 700;
  text-transform: uppercase;
}

.about-us-left ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us-right table {
  margin: 0;
  padding: 0;  
}

.upper-line td {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}


/*--------------------------PARTNERS-------------------------*/

.partners {
  margin-bottom: 80px;
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  margin: 0;
  padding: 0;

  list-style: none;
}

.partners-list li {
  height: 180px;
}

.partners-list li:not(:nth-child(4n)) {
  margin-right: 40px;
}


/*--------------------------FOOTER---------------------------*/

.page-footer {
  display: flex;
  flex-direction: column;
}

.footer-top {
  margin-bottom: 69px;
}

.footer-top img {
  display: block;
  width: 1440px; 
  height: 416px;
  margin: auto;

  background-color: #e9e5dc;
}

.contacts b {
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts p {
  margin: 0;
  padding: 0;

  line-height: 18px;
}

.contacts .button {
  width: 220px;
}

.footer-bottom {
  display: flex;

  width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.socials {
  display: flex;
  justify-content: flex-start;

  min-width: 400px;
  margin: 0;
  padding: 0;

  list-style: none;

}

.socials a {
  display: block;
  width: 78px;
  height: 78px;

  margin-right: 10px;

  background-color: #e1e1e1;
  border-radius: 50%;
  list-style: none;
}

.socials a:hover,
.socials a:focus {
  background-color: #e74246;
}

.socials a:active {
  background-color: #d7373b;
}

.footer-slogan b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-slogan p {
  line-height: 22px;
  color: #444444;
}


/*---------------------------------------------------------------------*/
/*----------------------------INNER PAGE-------------------------------*/

.inner-page .wrapper {
  width: 100%;
  min-height: 231px;
  margin-bottom: 60px;
  padding-top: 68px;

  background-color: #eeeeee;
}

.inner-page h1 {
  width: 1200px;
  margin: auto;
  padding: 0 20px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  text-align: center;
  color: #000000;
  background-color: #eeeeee;
}

.inner-page .container {
  display: flex;
  justify-content: space-between;
}


/*-------------------------FILTER---------------*/

.filter {
  width: 260px;

  font: inherit;
}

.filter-price,
.filter-radio,
.filter-checkbox {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.filter fieldset,
.filter input {
  border: none;
}

.filter input,
.price-range {
  background-color: #eeeeee;
}

.filter-title {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter label {
  color: #283136;
}

.range-result label {
  line-height: 22px;
  text-transform: uppercase;
}

.filter-radio label,
.filter-checkbox label {
  display: block;
  margin-bottom: 20px;

  line-height: 20px;
}

.filter-radio input:hover + label,
.filter-radio input:focus + label,
.filter-checkbox input:hover + label,
.filter-checkbox input:focus + label {
  color: #000000;
}

.filter-radio input:disabled + label,
.filter-checkbox input:disabled + label {
  color: #000000;
  opacity: 0.3;
}

.submit-form {
  width: 260px;
  padding: 0;

  color: #000000;
  background-color: #eeeeee;
}

.submit-form:hover,
.submit-form:focus {
  background-color: #dfdfdf;
}

.submit-form:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d5d5d5;
}




/*-------------------------SORTING-------------------------*/

.catalog-container {
  display: flex;
  flex-direction: column;
  width: 760px;
}

.sorting {
  display: flex;
}
.sorting-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 700px;
}

.sorting .filter-title {
  line-height: 18px;
}

.do-sorting {
  display: flex;
  justify-content: flex-start;
  min-width: 300px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.display-sorting {
  display: block;

  width: 60px;
  height: 30px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.do-sorting li,
.display-sorting li {
  margin-right: 25px;
}

.do-sorting a {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.do-sorting .current {
  color: #000000;
}

.do-sorting a:hover,
.do-sorting a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.do-sorting a:active {
  color: #000000;
}


/*--------------------------CATALOG--------------------------*/



.catalog-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  margin-top: 49px;

  list-style: none;
}

.catalog-list li {
  margin-bottom: 33px;
}

.catalog-list li:nth-child(odd) {
  margin-right: 40px;
}

.catalog-item-hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 230px;

  background-color: #eeeeee;
}

.catalog-item-title a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item-hover p {
  line-height: 18px;
  color: #666666;
}


/*-------------------------PAGINATION------------------*/

.pagination-list {
  list-style: none;
}

.pagination-list a {
  color: #000000;
  text-align: center;
  vertical-align: middle;

  background-color: #eeeeee;
  text-transform: uppercase;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d5d5d5;
}

.pagination-item .current,
.pagination-item .current:hover,
.pagination-item .current:focus,
.pagination-item .current:active {
  color: #000000;
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}


/*---------------------------MODAL-----------------------*/

.modal {
display: flex;
flex-direction: column;

width: 960px;
min-height: 590px;

padding-top: 70px;
padding-bottom: 84px;
padding-left: 100px;
padding-right: 100px;

background-color: #ffffff;

box-sizing: border-box;
z-index: 1000;

/*временно*/
border: 1px solid red;
} 

.modal h2 {
  margin: 0;
  padding: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-item label {
  line-height: 18px;
  font-weight: 700;
}

.feedback-item input,
.feedback-item textarea {
  font: inherit;
  line-height: 18px;

  border: 2px solid #d7dcde;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
  border: 2px solid #b4b9bb;
}

.feedback-item input:focus,
.feedback-item textarea:focus {
  border: 2px solid #000000;
}

.feedback-item input:invalid,
.feedback-item textarea:invalid {
  color: #e74246;
  border: 2px solid #e74246;
} 

.submit-button {
  width: 260px;
  padding: 0;
}


